@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


*{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: rgb(2,0,36);
    background: linear-gradient(158deg, rgba(2,0,36,1) 0%, rgba(49,49,111,1) 100%);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.game{
    position: relative;
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
}
.canvas-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background-color: #3C3E52;
    padding: 8px;
    border-radius: 15px;
}
.canvas{
    background-color: black;
    padding: 12px 15px;
    border-radius: 8px;
}
.canvas-container span{
    color: white;
    font-size: 25px;
}
.canvas-container span, .menu span{
    color: white;
    font-size: 25px;
}
.canvas-container .score-container, #score{
    font-size: 20px;
    color: white;
}
.menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 30px;

}
.menu-button{
    padding: 5px;
    cursor: pointer;
}
div.menu p{
    color: white;
    font-size: 12px;
    text-align: center;
}
div.menu span.instrucciones{
    color:red;
    font-size: 12px;
}

section div.canvas-container:nth-child(2){
    margin-top: 10px;
}



/*Falta agregar los media queries - ademas que en celular este posicionadas los divs uno sobre otro


    
}

710 el primero */

@media (max-width: 610px){
    div.game{
        display: flex;
        flex-direction: column;
        width: 280px;
    }
    section.hold_next_mobile {
        display: inline-flex;
    align-items: baseline;
    align-self: center;
    }
    canvas#canvas-hold{
        height: 13vh;
        width: 80px;
        align-self: start;
    }
    section div.canvas-container:nth-child(2){
        margin-top: 0;
        align-self: start;
    }
    canvas#canvas-next{
        height: 13vh;
        width: 80px;
    }
    div.canvas-container{
        align-self: center;
        align-items: center;
        align-self: center;
    }
    canvas#canvas-tetris{
        height: 50vh;
    }
}
